body {
    font-family: Arial;
    text-align: center;
    background: #f2f2f2;
}

input, button {
    padding: 10px;
    margin: 5px;
}

button {
    background: black;
    color: white;
}

#products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

.product {
    background: white;
    padding: 15px;
    width: 200px;
}